*{
    padding: 0;
    margin: 0; 
}
.cards{
    justify-self: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: 100vh; */

}
.order{
    display: flex;
    justify-content: space-around;

}
.containn{
    background-image: url('https://besthqwallpapers.com/Temp/6-6-2022/ash-ketchum-pikachu-art-ash-pokemon-besthqwallpapers.com-1920x1080.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-size: cover;
  
} 
.order select{
    background: transparent;
    border-radius: 7px;
    margin: 0;
    padding: 0;
}
.containn{
    width: 100vw;
    /* height: 100vh; */
}
.types{
padding-right: 2rem;
}
.pag{
    display: flex;
    justify-content: center;
}
.loading_home{
    height: 100vh;
    width: 100%;
}