*{
    padding: 0;
    margin: 0; 
    font-family: 'Nanum Gothic', sans-serif;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.order{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;

}
.containn{
    background-image: url('https://eskipaper.com/images/cool-tumblr-wallpaper-1.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow:auto;  
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    min-height: 100%;
} 
.order select{
    background: transparent;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    margin-left: 2rem;
    font-size: larger;
}
.order select:hover{
    background: #716F6F;
    color: #111;
}
 option{
    color: #1111
}
.types{
padding-right: 2rem;
}
.pag{
    display: flex;
    justify-content: center;
}
.loading_home{
    height: 100vh;
     width: 100%; 
    grid-column: 1/4;
}

.order h2{
    color: #fff;
    font-size: 1.5rem;
}
.filters_home{
    padding-left: 5rem;
    display: flex;
}
select option{
    color:#111
}
.containn_cards{
    display: flex;
    align-items: center;
    margin: 0;
    width: 100;
}
.contain_Footer{
margin-top: auto;
width: 100%;
}
