*{
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}
.container {
    background: rgba(21, 21, 19, 0.248);
    margin: 2rem;
    width: 17rem;
    border-radius: 1rem;
    transition: all 400ms ease;
    box-sizing: content-box;
    min-height: 18rem;
    border-color: #000000;
    border-width: 1.5px;
    border-style: solid;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
  .container:hover {
    box-shadow: 20px 20px 20px rgb(0, 0, 0, 0, 4);
    transform: translateY(-10%);
    
  }
  
  .name {
    list-style-type: none;
    font-size:2rem;
    color: #fff;
    text-decoration-line: none;
    text-decoration: none;
    display: flex; 
    flex-direction: row;
  }
  
  .typeStyle {
    list-style-type: none;
    font-size:1.5rem;
    color: #fff;
    text-decoration-line: none;
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    display: flex; 
    flex-direction: row;
   
  }
  .typeStyle h2{
    padding-left: 1rem;
  }
  .imagen{
    display:flex;
    justify-content: center;
    padding-top: 1rem;

  }