*{
    margin: 0%;
}
.container_footer{
background-color: #716F6F;
display: flex;
 bottom: 0;
 width: 100%;

}

.github{
    display: flex;
    padding-left: 3rem;
  
}
.contain_footer{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: black;
    font-size: 1.5rem;
}
