.paginado{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style:none;
}

.btn_current{
  font-size: large;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50px;
  margin: 5px;
  color: aliceblue;
  border-color:#fff;
  padding: 4px;
}
 .btn_current:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.btn_active{
  font-size: large;
  cursor: pointer;
  background: rgb(143, 143, 137);
  padding: 4px;
  border-radius: 50px;
  color: #111;
  
}