@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nanum+Gothic&family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}
 .contain_nav{
    width: 100%;
    display: flex;
    justify-content: center; 
    justify-content: space-evenly; 
    align-items: center;
    position: sticky;
    padding: 1.5rem 0 1.5rem 0;; 
    padding-right:0 ;
    z-index: 0;
    box-sizing: border-box;
    
}

.home {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
    border-radius: 10px;
    transition: all 0.5s;
    
}
.home:hover{
background-color: rgb(116, 110, 110);
  color: black;
  border-radius: 10px;
}

.create{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
.create:hover{
    background-color: rgb(116, 110, 110);
      color: black;
      border-radius: 10px;
    }
.mid {
    display: flex;

}
.navBar h1{
    color: #FFFF;
}
.searchh{
    padding-right: 0;
    margin-right: 0;
    
}
.nav_home{
    position: sticky;
}